*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    color: #080103;
    background-image: url("background.jpg");
}
.header{
    background: #8b8d8f;
    width: 100vw;
    height: 8vh;
    font-size: 37px;
    opacity: 0.9;
}
nav u1{
    display: flex;
    text-align: center;
    font-size: 2vw 2vh;
}
nav u1 li{
    width: 100%;
    margin: 0;
    padding: .4%;
    display: inline-block;
    justify-content: center;
    margin-top: 8px;
}
#diva{
    flex: 1;
    display: block;
    width: 1000px;
    height: 820px;
    background-image: linear-gradient(0.25turn,#d49d36,rgb(255, 255, 255,0));
}
h1, h2{
    font-weight: bold;
}
h1{
    display: block;
    margin-left: 8%;
    margin-top: 0%;
    font-size: 10rem;
}
h2{
    display: block;
    margin-left: 8%;
    margin-top: 2%;
    font-size: 8rem;
}
h3{
    display: block;
    margin-top: 2.3rem;
    margin-left: 3rem;
    font-size: 3rem;
}
h4{
    display: block;
    margin-left: 4rem;
    margin-top: 3rem;
    font-size: 3rem;
}
a:visited{
    color: rgba(139,141,143,255);
}
a:link{
    color:#d49d36;
    text-shadow: 
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}
a:hover{
   color:#080103;
}
#rtnlink{
    font-size: 15vw 15vh;
    display: inline;
    padding: 4%;
    margin-left: 4%;

}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background: #8b8d8f;
    width: 100vw;
    height: 32px;
    flex:1;
    opacity: 0.9;
}
#fttext{
    font-size: 10px;
    display:flex;
    color: #d49d36;
    text-align: center;
    justify-content:center;
    align-items: center;
    margin-top: 8px;
}